{% extends 'Home/shared/base.html' %}

{% block content %}
{% load socialaccount %}
{% load static %}
<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" style="margin-top:10%;">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{% static 'assets/img/login.jpg' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2 align="center">Login Here</h2>
                 <div class="form">

              <form action="{% url 'login' %}" method="POST" name="log">
                {% csrf_token %}
                  <div class="form-group">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Your Email id" data-msg="Please enter email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" data-rule="password" data-msg="Please enter password" />
                  <div class="validation"></div>
                </div>
                <div class="text-center">
                  <input type="submit" class="btn btn-primary" name="sub" value="Login"/>
                </div>
              </form>
              <hr>
              <h3>Sign in with</h3>
            
              <div class="d-grid gap-2 pb-2">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
               </svg></a>
              </div>
            
              <!--<div class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
              </div>-->
            </div>
            </div>
          </div>
        </div>
      
       

    </div>

    </section><!-- #about -->
  </main>
{% endblock content %}
    